.blog-card {
    margin-top: 50px;
    margin-bottom: 50px;
  .card {
    // // width: 300px;
    // min-height: auto;
    display: flex;
    justify-content: space-evenly;
    .card-item {
      width: 300px;
      min-height: auto;
    }
  }
}
