.blog-card {
    margin-top: 50px;
    margin-bottom: 50px;
  .card {
    // // width: 300px;
    // min-height: auto;
    display: flex;
    justify-content: space-evenly;
    .card-item {
      width: 300px;
      min-height: auto;
      border-radius: 10px;
      .card-img {
        margin-bottom: 5px;
        img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
      .card-content {
        .content {
          height: 80px;
          background: white;
          display: flex;
          vertical-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          &:hover {
          background-color: #FFC839;
          transition: all ease-in-out 200ms;
          }

          .content-img {
          display: flex;
          align-items: center;
          width: max-content;
          margin: auto;
          img {
            width: 38px;
          }
          }

          h3 {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
