.footer {
  background-color: #141414;
  .footer-content {
    color: white;
    width: 80%;
    opacity: .8;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    // .footer-corporate {

    // }
    .footer-nav {
        margin-left: 20px;
      ul {
        list-style: none;
        li {
            padding: 5px;
        }
      }
    }
  }
}
