.navbar {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    ul {
        list-style: none;
        display: flex;
        a {
            display: flex;
            flex: 1 0 auto;
        }
    }
}